[submodule "repo/tabular"]
	path = repo/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "repo/nerdtree"]
	path = repo/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "repo/nerdcommenter"]
	path = repo/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "powerline"]
	path = powerline
	url = git://github.com/Lokaltog/powerline
[submodule "bundle/puppet"]
	path = bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
